.dropdown{
    display:none;
  }
  
  label,
  li{
    display:block;
    border-bottom:#fff 1px solid;
    font-family:sans-serif;
    letter-spacing:.05em;
    font-weight:bold;
  }
  li::before,
  label::before{
    content:"";
    display:block;
    position:absolute;
    right:5%;
    width:.5em;
    height:.5em;
    border-top:#000 2px solid;
    border-left:#000 2px solid;
    transform:rotate(135deg);
  }
  input[type="checkbox"]{
    display:none;
  }
  label[for="menu"]{
    display:block;
  }
  label[for="menu"]::before{
    transform:rotate(225deg);
  }
  #menu:checked + .dropdown{
    display:block;
  }